@charset "utf-8";

html {
    font-size: 62.5%;
}
.w1260 {
    max-width: 1260px;
    width: 1260px;
    margin: 0 auto;
  
}
body {
    font-family: 'Noto Sans KR', sans-serif;
}
#wrap{
    font-family: 'Roboto','NotoSansKR',sans-serif;
    max-width:100%;
    width:100%;
  }




/* ============================ 2. Main Slider 시작 ============================ */
.main {
    /* 위치기준값 */
    position: relative;
}
.bg_slider {
    /* 포지션 */
    position: absolute;
    z-index: 1;
    top: -280px;
}
.slider_btn {
    /* 포지션 */
    position: absolute;
    z-index: 99;
    left: 43%;
    top: 740px;
    
}

/* Slider  */
article .slider .bg_slider img {
	max-width:100%;
    width: 100%;
    height: 580px;
    margin-top:280px;
    
}
/* ============================ 2. Main Slider 끝 ============================ */

/* ============================ 3. Content 시작 ============================ */


/* 짧은 구분선 스타일 */
.divider {
    width: 50px;
    margin: 0 auto;
    height: 2px;
    background: #3f51b5;
    margin-top: 55px;
    margin-bottom: 10px;

}
.dvider_p {
	font-size: 38px;
	color: #333333;
	margin-top:30px;
	margin-bottom: 100px;
	text-align: center;
}


/* Section 01 */
main .md_pick {
    padding: 0 20px;
    margin-top: -250px;
}



main .md_pick .md_pick_left {
    /* 플롯 */
    float: left;
}
main .md_pick .md_pick_left img {
    margin-top: 30px;
}
main .md_pick .md_pick_right {
    /* 플롯 */
    float: right;
    width: 400px;
    background-color: rgb(252, 250, 250);
    
}

/* Section 02 */

/* ============================ 3. Content 끝 ============================ */

/*메인에 상품추가시 추가 코딩 */
#contents .prodect_main .prodect_02 ul li img {
    width: 400px;
    height: 380px;
}
#contents .prodect_main .prodect_01 ul li img {
    width: 400px;
    height: 380px;
}
